.advantages {
  background: url("../img/bg-advantages-desktop.png") no-repeat;
  background-position: left 100% top -31px;
}

.advantages__wrap {
  @include wrap-desktop;
  padding-top: 110px;
}

.advantages__list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1170px;
}

.advantages__item {
  display: block;
  width: calc(50% - 15px);
  padding: 40px 42px 0;
  border: 1px solid #ebebeb;
  border-left: 3px solid $blue-color;
  margin-bottom: 30px;
  background: $white-color;

  &:hover {
    background: $blue-color;
    cursor: pointer;

    .advantages__title,
    .advantages__content {
      color: $white-color;
    }

    .advantages__icon {
      fill: $white-color;
    }
  }
}

.advantages__icon {
  fill: $blue-color;
}

.advantages__title {
  font-family: $roboto-condensed;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: $blue-color;
  margin: 15px 0 15px 0;
}

.advantages__content {
  font-family: $pt-mono;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #666666;
  margin: 0 0 65px 0;
}

.advantages__item--privacy {
  padding: 42px 0 0 42px;
}

.advantages__title--coint {
  margin: 14px 0 15px 0;
}

@media (max-width: $tablet-width) {
  .advantages__wrap {
    @include wrap-tablet;
    padding-top: 54px;
  }

  .advantages__list {
    margin: 0 auto;
    max-width: 720px;
  }

  .advantages__item {
    display: block;
    padding: 24px 21px 0 25px;
  }

  .advantages__title {
    margin: 2px 0 8px 0;
  }

  .advantages__content {
    width: 297px;
    margin: 0 0 21px 0;
  }

  .advantages__icon--provider {
    margin: -3px 0 0 -2px;
  }

  .advantages__title--provider {
    margin: 4px 0 8px 0;
  }

  .advantages__item--privacy {
    padding: 25px 0 0 24px;
  }

  .advantages__icon--privacy {
    width: 30px;
    height: 26px;
  }

  .advantages__title--privacy {
    margin: 6px 0 15px 0;
  }

  .advantages__icon--coint {
    width: 31px;
    height: 31px;
  }

  .advantages__title--coint {
    margin: 6px 0 6px 0;
  }
}

@media (max-width: $mobile-width) {
  .advantages__wrap {
    @include wrap-mobile;
    padding-top: 37px;
  }

  .advantages__list {
    margin: 0 auto;
    width: 100%;
  }

  .advantages__item {
    width: 100%;
    padding: 25px 0 0 24px;
    margin: 0 0 20px -1px;
  }

  .advantages__content {
    margin: 0 0 24px 0;
    width: 95%;
  }

  .advantages__title {
    font-size: 20px;
    line-height: 28px;
    margin: 5px 0 9px 0;
  }

  .advantages__title--provider {
    margin: 8px 0 9px 0;
  }

  .advantages__title--privacy {
    margin: 7px 0 19px 0;
  }

  .advantages__title--provider + .advantages__content {
    width: 96%;
  }

  .advantages__title--coint {
    margin: 5px 0 11px 0;
  }
}
