.block-form {
background: url("../img/airplane.png") no-repeat,
            url("../img/bg-forma.png") no-repeat,
            $blue-color;
background-position: left calc(50% - 355px) top 160px,
                     left 50% top -61px,
                     center;
}

.block-form__wrap {
  @include wrap-desktop;
  padding: 92px 35px 113px;
}


.block-form__title {
  margin: 0;
  font-family: Roboto Condensed;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $white-color;
  padding-left: calc(50% + 11px);
}

.block-form__description {
  font-family: PT Mono;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $white-color;
  padding-left: calc(50% + 15px);
  margin: 9px 0 52px;
}

.block-form__form {
  padding-left: calc(50% + 15px);
  padding-right: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.block-form__input {
  border: none;
  display: block;
  background: #19baff;
  color: $white-color;
  width: calc(50% - 16px);
  padding: 14px 16px;
  outline: none;
  margin: 0 0 40px 0;
  &::placeholder {
    color: $white-color;
    font-family: PT Mono;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  };
}

.block-form__textarea {
  width: 100%;
  background: #19baff;
  color: $white-color;
  border: none;
  outline: none;
  min-height: 155px;
  resize: none;
  padding: 14px 16px;
    &::placeholder {
    color: $white-color;
    font-family: PT Mono;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  };
}

.block-form__button {
  display: block;
  width: 270px;
  padding: 14px 0;
  background: transparent;
  font-family: Roboto Condensed;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $white-color;
  border: 1px solid $white-color;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 45px;
  &:hover,
  &:focus {
    color: $blue-color;
    background: $white-color;
  }
}

.block-form__label-checkbox {
  display: block;
  position: relative;
  font-family: PT Mono;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $white-color;
  opacity: 0.8;
  max-width: 230px;
  margin: 54px 0 0 40px;
  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid $white-color;
    left: -32px;
    top: 2px;
  }
}

.block-form__checkbox:checked + .block-form__label-checkbox::after {
    content: "";
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid $white-color;
    left: -32px;
    top: 2px;
    background: url("../img/checked.svg") center no-repeat;
}

@media (max-width: $tablet-width) {

  .block-form {
    background: $blue-color;
  }

  .block-form__wrap {
    @include wrap-tablet;
    padding: 80px 25px 103px;
  }


  .block-form__title {
    font-size: 32px;
    line-height: 45px;
    padding-left: 63px;
  }

  .block-form__description {
    padding-left: 68px;
    margin: 16px 0 55px;
  }


  .block-form__form {
    padding: 0 60px 0 67px;
  }

  .block-form__input {
    padding: 13px 17px 17px;
    margin: 0 0 44px 0;
  }

  .block-form__textarea {
    min-height: 158px;
    padding: 12px 16px;
  }

  .block-form__button {
    width: 280px;
    padding: 15px 0 16px;

  }

  .block-form__label-checkbox {
    margin: 54px 10px 0 40px;
  }

}

@media (max-width: $mobile-width) {

  .block-form__wrap {
    @include wrap-mobile;
    padding: 30px 15px 41px;
  }

  .block-form__title {
    font-size: 28px;
    line-height: 39px;
    padding: 0;
  }

  .block-form__description {
    padding: 0;
    margin: 13px 0 25px;
  }

  .block-form__form {
    padding: 0;
  }

  .block-form__input {
    width: 100%;
    padding: 16px 16px 18px;
    margin: 0 0 30px 0;
  }

  .block-form__textarea {
    min-height: 104px;
    padding: 12px 16px;
  }

  .block-form__button {
    width: 100%;
    padding: 15px 0 16px;
    margin-top: 30px;
  }

 .block-form__label-checkbox {
    margin: 29px 0 0 33px;
  }

}
