.intro {
   display: block;
   margin: -124px auto 0;
   background-color: #1d2e36;
   background: url("../img/bg-picture-desktop.png") no-repeat,
               url("../img/bg-desktop.jpg") no-repeat;
   background-position: left calc(50% + 430px) top 295px,
                        left 50% top 35px;
   padding: 350px 0 278px 0;
}

.intro__wrap {
  @include wrap-desktop;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
}

.intro__title {
  padding: 0;
  display: block;
  font-family: Roboto Condensed;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: $white-color;
  margin: 0 0 28px -6px;
}

.intro__desription {
  margin: 0;
  padding: 0;
  max-width: 683px;
  font-family: PT Mono;
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  color: $white-color;
  margin: 0 0 45px 92px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 66px;
    height: 2px;
    background: $white-color;
    left: -94px;
    top: 16px;
  }
}

.intro__button {
  display: block;
  border: none;
  background: $blue-color;
  border-radius: 5px;
  color: $white-color;
  width: 407px;
  font-family: Roboto Condensed;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 15px 0 18px;
  margin: 0 0 0 92px;
  cursor: pointer;
  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

.intro__button--mobile {
  display: none;
}

.intro__scroll {
  font-family: PT Mono;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $white-color;
  opacity: 0.5;
  position: absolute;
  transform: rotate(-90deg);
  top: 420px;
  left: -5px;
  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

@media (max-width: $tablet-width) {

  .intro {
    background: url("../img/bg-picture-tablet.png") no-repeat,
                url("../img/bg-tablet.jpg") no-repeat;
    background-position: left 100% top 113px,
                         left 50% top 0;
    background-size: auto, cover;
    padding: 188px 0 163px 0;
    margin: -75px auto 0;
  }

  .intro__wrap {
    @include wrap-tablet;
  }

  .intro__title {
    font-size: 60px;
    line-height: 70px;
    width: 470px;
    margin: 0 0 28px 63px;
  }

  .intro__desription {
    width: 365px;
    font-size: 18px;
    line-height: 28px;
    margin: 0 0 56px 115px;
    &::before {
      width: 33px;
      left: -48px;
      top: 16px;
    }
  }

  .intro__button {
    width: 379px;
    margin: 0 0 0 114px;
    padding: 16px 0 18px;
  }

  .intro__scroll {
    display: none;
  }

}

@media (max-width: $mobile-width) {

  .intro {
    margin: -80px auto 0;
    background: url("../img/bg-picture-mobile.png") no-repeat,
                url("../img/bg-mobile.jpg") no-repeat;
    background-position: left 100% top 92px,
                     left 50% top 0;
    background-size: auto, cover;
    padding: 288px 0 71px 0;
  }

    .intro__wrap {
    @include wrap-mobile;
  }

  .intro__title {
    font-size: 40px;
    line-height: 47px;
    width: 277px;
    margin: 0 0 27px 0;
  }

  .intro__desription {
    width: 245px;
    font-size: 16px;
    line-height: 25px;
    margin: 0 0 41px 50px;
    &::before {
      left: -48px;
      top: 16px;
    }
  }

  .intro__button {
    width: 284px;
    font-size: 16px;
    line-height: 19px;
    margin: 0 0 0 5px;
  }

  .intro__button--mobile {
    display: block;
  }

   .intro__button--desktop {
     display: none;
  }



}
