.page-header {
  @include wrap-desktop;
}

.page-header__wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 36px 0 0;
  color: $white-color;
}

.page-header__link {
  display: flex;
  align-items: center;
}

.page-header__contacts-wrap {
  display: flex;
  align-items: center;
}

.logo-title {
  position: relative;
  font-weight: 700;
  font-family: $roboto-condensed;
  line-height: 29px;
  font-size: 25px;
}

.page-header__title {
  margin: -16px 0 0 16px;
}

.title-description {
  display: block;
  position: absolute;
  font-weight: 400;
  font-family: $roboto-medium;
  line-height: 14px;
  font-size: 12px;
  color: #788891;
}

.page-header__title-description {
  width: 106px;
  bottom: -15px;
}

.page-header__mail-link,
.page-header__phone-link {
  display: flex;
  color: $white-color;
  font-family: $pt-mono;
  line-height: 18px;
  font-size: 16px;
  font-weight: 400;
  cursor: default;

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

.page-header__mail-text {
  display: block;
  width: 96px;
  margin: -4px 90px 0 20px;
  cursor: pointer;
}

.page-header__mail-logo,
.page-header__phone-logo {
  cursor: pointer;
}

.page-header__phone-text {
  display: block;
  width: 184px;
  margin: -2px 38px 0 16px;
  cursor: pointer;
}

.page-header__button {
  display: block;
  width: 180px;
  cursor: pointer;
  background: transparent;
  color: $white-color;
  text-transform: uppercase;
  font-family: $roboto-condensed;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  padding: 14px 0;
  margin: -5px 0 0 0;
  letter-spacing: 0.05em;
  border: 1px solid $white-color;
  border-radius: 5px;

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

@media (max-width: $tablet-width) {
  .page-header {
    @include wrap-tablet;
  }

  .page-header__wrap {
    padding: 24px 0 0 0;
  }

  .page-header__mail-text,
  .page-header__phone-text,
  .page-header__button {
    display: none;
  }

  .page-header__mail-logo {
    width: 25px;
    height: 18px;
    margin: -8px 34px 0 0;
  }

  .page-header__phone-logo {
    width: 24px;
    height: 24px;
    margin: -8px 0 0 0;
  }
}

@media (max-width: $mobile-width) {
  .page-header {
    @include wrap-mobile;
  }

  .page-header__wrap {
    padding: 20px 0;
  }

  .page-header__title {
    display: none;
  }

  .page-header__logo {
    width: 38px;
    height: 38px;
  }

  .page-header__mail-logo {
    margin: -8px 24px 0 0;
  }
}
