.page-footer__top {
  @include wrap-desktop;
  display: flex;
  padding-top: 65px;
  padding-bottom: 58px;
}

.page-footer__switch-button {
  display: none;
}

.page-footer__link {
  display: flex;
}

.page-footer__title {
  margin: 5px 0 0 14px;
}

.page-footer__logo {
  margin: 0 0 0 -2px;
}

.page-footer__nav-wrap {
  display: flex;
}

.page-footer__nav {
  width: 66.3%;
}

.page-footer__logo-column {
  width: 39%;
}

.page-footer__nav-list,
.page-footer__social-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.page-footer__social-list {
  display: flex;
  max-width: 110px;
  justify-content: space-between;
  margin: 54px 0 0 -2px;
}

.page-footer__social-item {
  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

.page-footer__nav-list {
  display: flex;
  flex-wrap: wrap;
}

.page-footer__nav-item {
  width: calc(50% - 19px);
  padding-right: 19px;
}

.page-footer__nav-title,
.page-footer__contacts-title {
  font-family: $roboto-condensed;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $black-color;
  margin: 0 0 24px 3px;
}

.page-footer__nav-link,
.page-footer__contacts-text {
  display: block;
  font-family: $pt-mono;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: $black-color;
  opacity: 0.5;

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

.page-footer__bottom {
  border-top: 1px solid rgba(98, 105, 98, 0.2);
  padding: 14px 0;
}

.page-footer__copyright {
  font-family: $pt-mono;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $black-color;
  opacity: 0.5;
}

.page-footer__bottom-wrap {
  @include wrap-desktop;
  padding: 0 33px;
  display: flex;
  align-items: center;
}

.page-footer__bottom-wrap a {
  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

.copyright-rights {
  width: 15.8%;
}

.copyright-date {
  width: 26.5%;
}

.copyright-privacy {
  width: 44%;
}

.copyright-tablet {
  display: none;
}

@media (max-width: $tablet-width) {
  .page-footer__top {
    padding: 0;
    flex-wrap: wrap;
  }

  .page-footer__logo-column {
    width: 100%;
    border-bottom: 1px solid rgba(98, 105, 98, 0.2);
  }

  .page-footer__logo-wrap {
    @include wrap-tablet;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 24px 23px 26px;
  }

  .page-footer__social-list {
    width: 115px;
    margin: 0;
  }

  .page-footer__title {
    margin: 5px 0 0 18px;
  }

  .page-footer__nav-wrap {
    width: 770px;
    padding: 38px 25px 36px;
  }

  .page-footer__nav {
    width: 52.1%;
  }

  .page-footer__nav-item {
    width: 100%;
  }

  .page-footer__nav-title,
  .page-footer__contacts-title {
    margin: 0 0 25px 2px;
  }

  .page-footer__nav-list {
    flex-direction: column;
  }

  .page-footer__nav-item:nth-child(2n) {
    order: 2;
  }

  .page-footer__bottom {
    padding: 21px 0 24px;
  }

  .page-footer__bottom-wrap {
    @include wrap-tablet;
    padding: 0 27px;
    justify-content: space-between;
  }

  .copyright-rights {
    display: none;
  }

  .copyright-date-desktop {
    display: none;
  }

  .copyright-tablet {
    display: block;
    width: 35%;
    padding: 2px 0 0 15px;
  }
}

@media (max-width: $mobile-width) {
  .page-footer__logo-wrap {
    @include wrap-mobile;
    flex-direction: column;
    padding: 46px 52px 48px;
  }

  .page-footer__nav-list {
    margin-top: 32px;
    width: 90%;
  }

  .page-footer__title {
    margin: 7px 0 0 18px;
  }

  .copyright-tablet {
    width: 235px;
    padding: 0;
    margin: 27px 0 31px;
  }

  .page-footer__nav-wrap {
    width: 100%;
    padding: 0;
    flex-direction: column;
  }

  .page-footer__contacts-wrap {
    margin-top: 32px;
    width: 80%;
  }

  .page-footer__nav {
    width: 100%;
    border-bottom: 1px solid rgba(98, 105, 98, 0.2);
    display: flex;
    padding: 28px 16px 27px 15px;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .page-footer__contacts {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    padding: 28px 16px 27px 15px;
  }

  .page-footer__nav-title,
  .page-footer__contacts-title {
    margin: 0;
    width: 94%;
  }

  .page-footer__switch-button {
    display: block;
    border: none;
    width: 16px;
    height: 16px;
    background: url("../img/button-open.svg") center no-repeat;
    outline: none;
    background-color: transparent;

    &:hover,
    &:focus {
      opacity: 0.7;
    }
  }

  .page-footer__nav-open {
    background: url("../img/button-close.svg") center no-repeat;
  }

  .page-footer__bottom {
    padding: 27px 0 26px;
  }

  .page-footer__bottom-wrap {
    @include wrap-mobile;
    padding: 0 27px;
    flex-direction: column;
  }

  .copyright-privacy {
    width: 217px;
    margin-bottom: 21px;
  }

  .list-closed {
    display: none;
  }

  .no-js {
    display: block;
  }
}
