.page-header {
  @include wrap-desktop;
};

.page-header__wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 33px 0 0;
  color: $white-color;
}

.page-header__logo-wrap {
   display: flex;
   align-items: center;
}

.page-header__contacts-wrap {
   display: flex;
   align-items: center;
}

.page-header__title {
  position: relative;
  font-weight: 700;
  font-family: "Roboto Condensed";
  line-height: 29px;
  font-size: 23px;
  margin: -18px 0 0 10px;
}

.page-header__title-description {
  display: block;
  width: 106px;
  position: absolute;
  bottom: -13px;
  left: 2px;
  font-weight: 400;
  font-family: "Roboto";
  line-height: 14.06px;
  font-size: 12px;
  color: #788891;
}

.page-header__mail-link,
.page-header__phone-link {
  display: flex;
  color: $white-color;
  font-family: "PT Mono";
  line-height: 18px;
  font-size: 16px;
  font-weight: 400;
}


.page-header__mail-text {
  display: block;
  width: 96px;
  margin: 0 68px 0 20px;
}

.page-header__phone-text {
  display: block;
  width: 184px;
  margin: 0 38px 0 16px;
}

.page-header__button {
   display: block;
   width: 180px;
   cursor: pointer;
   background: none;
   color: $white-color;
   border: 1px solid $white-color;
   border-radius: 5px;
   text-transform: uppercase;
   font-family: Roboto Condensed;
   font-weight: 700;
   font-size: 14px;
   line-height: 16px;
   text-align: center;
   // letter-spacing: 0.05em;
   padding: 10px 0;
}


@media (max-width: $tablet-width) {

  .page-header {
    @include wrap-tablet;
  };

  .page-header__wrap {
    padding: 20px 0;
  }

  .page-header__mail-text,
  .page-header__phone-text,
  .page-header__button {
    display: none;
  }

  .page-header__mail-logo {
    width: 25px;
    height: 18px;
    margin: 0 34px 0 0;
  }

  .page-header__phone-logo {
    width: 24px;
    height: 24px;
  }

}

@media (max-width: $mobile-width) {

  .page-header {
    @include wrap-mobile;
  };

  .page-header__wrap {
    padding: 17px 0;
  }

  .page-header__title {
    display: none;
  }

  .page-header__logo {
    width: 38px;
    height: 38px;
  }

  .page-header__mail-logo {
    margin: 0 23px 0 0;
  }

}
