.service {
  background: #1B2D37;
}

.service__wrap {
  @include wrap-desktop;
}

.service__title {
  font-family: Roboto Condensed;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $white-color;
}

.service__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1170px;
}

.service__item {
  width: 370px;
  min-height: 620px;
  background: url("../img/service-picture1-desktop.png") no-repeat;
}
