@mixin list-default {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin wrap-mobile {
  max-width: 767px;
  margin: 0 auto;
  padding: 0 15px;
}

@mixin wrap-tablet {
  max-width: 1023px;
  margin: 0 auto;
  padding: 0 25px;
}

@mixin wrap-desktop {
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 35px;
}
