$mobile-width: 767px;
$tablet-width: 1023px;
$white-color: #ffffff;
$blue-color: #00b2ff;
$black-color: #1b2d37;
$roboto-condensed: "Roboto Condensed";
$pt-mono: "PT Mono";
$roboto-medium: "Roboto Medium";
